<div fxLayout="row" fxLayout.xs="column">
  <md-card>
    <form [formGroup]="queryForm" novalidate>
      <md-input-container>
        <input mdInput placeholder="Filter" formControlName="filter">
      </md-input-container>
      <md-select placeholder="Sorting" formControlName="sorting">
        <md-option i18n>none</md-option>
        <md-option value="name:1" i18n>Sort by name</md-option>
        <md-option value="year:1" i18n>Sort by year</md-option>
        <md-option value="year:-1" i18n>Sort by year reverse</md-option>
        <md-option value="price:1" i18n>Sort by price</md-option>
        <md-option value="price:-1" i18n>Sort by price reverse</md-option>
        <md-option value="rating:1" i18n>Sort by rating</md-option>
        <md-option value="rating:-1" i18n>Sort by rating reverse</md-option>
        <md-option value="goodDealRatio:-1" i18n>Good deal ratio</md-option>
      </md-select>
    </form>

    <md-list *ngIf="loading$ !== true">
      <app-ox-wine-item *ngFor="let wine of wines$ | async" [wine]="wine"></app-ox-wine-item>
    </md-list>

    <div *ngIf="error$ | async">
      <span>An error occurs : {{error$ | async | json}}</span>
    </div>

  </md-card>
  <div class="wine-view">
    <router-outlet></router-outlet>
  </div>
</div>